:root{
    --fondo:#F5FAFD;
    --border_light:#FFF;
    --border_dark:#000;
    --shadow_dark:rgba(192,207,217,.5);
    --color_elemet_light:#378AE7;
    --color_elemet_dark:#D6EBF4;
    --color_font_light:#fff;
}

*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fondo.jpg);
}

header{
    position: absolute;
    width: 100%;
    height:30px;
    color: var(--color_elemet_light);
    background-color: var(--fondo);
}

nav{margin-top: 5px;}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

ul li:hover{
    font-weight: bold;
    cursor: pointer;
}

.padre{
    margin:0;
    width: 90%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow:hidden;
}
.card-user{
    width:300px;
    padding: 2%;
    height:400px;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--fondo);
    transition: 0.25s;
}

.card-user img{
    width:50%;
}

.campo{
    align-self: flex-start;
}

p{
    margin:0;
    margin-top:6%
}

.btn-editar{
    border:none;
    width: 70%;
    border-radius:8px;
    color:var(--color_elemet_light);
    background:var(--color_elemet_dark);
    height:30px;
    transition: 0.20s;
}

.btn-editar:hover{
    transform: scale(1.1);
    font-weight: bold;
    color: var(--color_font_light);
    border: 1px solid var(--border_light);
    background:var(--color_elemet_light);
    box-shadow: 0px 0px 10px 5px var(--shadow_dark);
}

.table{
    margin: 0;
    margin-left: 5%;
    /*white:100%;*/
    height:70%;
    display: flex;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px #00bdff;
    overflow:auto;

}

.table button{
    margin:0;
    border:none;
    background: rgba(255, 255, 255, 0);
}

.table button:hover{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #00bdff;
}

.default {
    margin:0;
    padding:0;
    width:110vh;
    height:100%;
    overflow: hidden;
}

.encabezado{
    padding: 0;
    background: var(--color-primary);
}

.c{
    margin:0;
    padding: 0;
    position:sticky;
    top:0;
    height: 4vh;
    background: #00bdff;
    margin:0;
    border:none;
}

.n{
    margin:0;
    width: 5%;
}



td{
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-primary);
}

.btn{
    margin:0;
    width: 11%;
}

ion-icon{
    cursor: pointer;
}


.btn-registrar{
    margin:0;
    border:none;
    border-radius: 8px;
    background:var(--color-primary);
    width: 100%;
    height:30%;
}


.btn-registrar:hover{
    border:1px solid var(--color-primary);
    background:#ffffff;
    color:var(--color-primary);
    font-weight: bold;
}

.ttrr{
    height: 20px;
}