
:root{
    --color-primary: #0099ff;
    --fondo: rgba(255,255,255,0.8);
}
body{
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height:100vh;
    margin:0 auto;
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fondo-2.jpg);
    background-position: 50% 50%;
}

.padre{
    margin:0;
    width: 90%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow:hidden;
}

.card-user{
    margin:0;
    width:23%;
    height:70%;
    background: rgba(255, 255, 255, 0.8);
    border:1px solid var(--color-primary);
    display:flex;
    flex-direction: column;
    align-items: center;
    border:none;
    border-radius: 12px;
    box-shadow: 0 0 10px #00bdff;
    overflow:hidden;

}

.card-user img{
    margin:0;
    margin-top: 5%;
    width:40%;
    height: 25%;
    overflow:hidden;
}

.campo{
    margin:0;
    width:80%;
}

p{
    margin:0;
    margin-top:6%
}

.btn-editar{
    margin:0;
    margin-top: 15%;
    width:80%;
    height:6%;
    font-weight: bold;
    border: none;
    border:none;
    border-radius:8px;
    background:var(--color-primary);
    overflow:hidden;
}


.table{
    margin: 0;
    margin-left: 5%;
    white:100%;
    height:70%;
    display: flex;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px #00bdff;
    overflow:auto;

}

.table button{
    margin:0;
    border:none;
    background: rgba(255, 255, 255, 0);
}

.table button:hover{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #00bdff;
}

.default {
    margin:0;
    padding:0;
    width:110vh;
    height:100%;
    overflow: hidden;
}

.encabezado{
    padding: 0;
    background: var(--color-primary);
}

.c{
    margin:0;
    padding: 0;
    position:sticky;
    top:0;
    height: 4vh;
    background: #00bdff;
    margin:0;
    border:none;
}

.n{
    margin:0;
    width: 5%;
}



td{
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-primary);
}

.btn{
    margin:0;
    width: 11%;
}

ion-icon{
    cursor: pointer;
}


.btn-registrar{
    margin:0;
    border:none;
    border-radius: 8px;
    background:var(--color-primary);
    width: 100%;
    height:30%;
}


.btn-registrar:hover{
    border:1px solid var(--color-primary);
    background:#ffffff;
    color:var(--color-primary);
    font-weight: bold;
}