:root{
    --color-primary: #0099ff;
    --color-secundario: #0039BC; 
    --fondo: rgba(255,255,255,0.8);
}
body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fondo-2.jpg);
    background-position: 50% 50%;
}

nav{
    margin:0;
    width:100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .btn-nav{
    margin:0;
    margin-left: 2%;
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .btn-nav .exit{
    margin:0;
    width:25%;
    height:100%;
}

nav .btn-nav .registros{
    margin:0;
    width:25%;
    height:100%;
}

nav .btn-nav .calendario{
    margin:0;
    width:25%;
    height:100%;
}

.btn-nav img:hover{
    border-radius: 8px;
    box-shadow: 1px 2px 5px var(--color-primary);
}

.user{
    margin:0;
    width:35%;
    display:flex;
    
}

.container{
    width:90%;
    height:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

}

.card-user{
    margin:0;
    width:60%;
    height:100%;
    background: var(--fondo);
    border:1px solid var(--color-primary);
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 0px 5px  var(--color-primary);
    overflow:hidden;

}

.card-user img{
    margin:0;
    width:50%;
    display:flex;
    flex-direction: column;
    overflow:hidden;
}

.datos{
    margin:0;
    align-self: flex-start;
}

.btn-editar{
    margin:0;
    margin-top:15%;
    width:70%;
    height:10%;
    font-weight: bold;
    border: none;
    border:none;
    border-radius:8px;
    background:var(--color-primary);
    overflow:hidden;
}

.btn-editar:hover{
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    background:white;
    }

.tarjeta{
    margin:0;
    width:70%;
    height:40%;
    background: var(--fondo);
    border:1px solid var(--color-primary);
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    border-radius: 12px;
    box-shadow: 0px 0px 5px  var(--color-primary);
    padding:7%;
    overflow:hidden;
}

.tarjeta img{
    width:100%;
    height:15vh;
    display:flex;
    flex-direction: column;
    border-radius: 12px;
}

.tarjetero1{
    height:100%;
    display:flex;
    justify-content: center;

}

.tarjetero1 p{
    margin:0;
    text-align: justify;
}

.tarjetero2{
    margin:0;
    padding: 2%;
    width:50%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-content: space-around;
    flex-flow: column wrap; 
}

.tarjetero2 img{
    width:10%;
}

.tarjetero2 p{
    font-size: 80%;
    text-align: justify;
}

.t2{
    width:19vh;
    height:40vh;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.t2  button{
    margin:0;
    width:100%;
    height: 10%;
    border:none;
    justify-self: flex-end;
    display:flex;
    justify-content: space-between;
    border-radius: 8px;
    background: var(--color-primary);
    
}

.t2  button:hover{
    border: 1px solid var(--color-primary);
    background:white;
}

.t2 button h5{
    margin:0;
    align-self: center;

}

.t2 button img{
    margin:0;
    width:20%;
    height:50%;
    align-self: center;
}

@media (min-width: 640px){

    nav{
        height: 6%; 
    }

    .btn-nav{
        width:5%;
        height: 50%;
    }
    
    .btn-nav .calendario{
        margin:0;
        width:45%;
        height:100%;
    }
    
    .btn-nav .registros{
        margin:0;
        width:45%;
        height:95%;
    }

    .container{
        margin:0;
        justify-content: center;
        flex-direction: row;
    }
    
    .tarjetero1{
        margin:0;
        width:40%;
        height:100%;
    }

    .card-user{
        width:70%;
        height:100%;
    }

    .card-user img{
       margin:0;
       margin-top:8%;
       width: 40%;
    }
    .datos p {
        margin:0;
        text-align: left;
        margin:0;
        margin-top: 7%;
        margin-left:30%;
    }
    
    .btn-editar{
        margin-top:10%;
        height:5%;
    }

    .tarjetero2{
        margin:0;
        width:52%;
        height:100%;
        align-content: space-around;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .tarjetero2 img{
        width:100%;
        height:35%;
    }

    .t2{
        padding:2% 2% 2% 2%;
        width:25%;
        height:40%;
    }

    .t2  button{
        justify-self: flex-end;
    }
    
    .t2  h5{
        margin:0;
        margin-left: 5%;
        justify-self: center;
        align-self: center;
    }
    .t2 p{
        font-size: 60%;
    }


}

/*
@media (max-height:600px){

    .t2{
        width:35vh;
        height:42vh;
        
    }    
    .t2 p{
        font-size: 48%;
    }
    .tarjetero2 img{
        width:33vh;
        height:15vh;
    }

}
**/