
:root{
    --fondo:#F5FAFD;
    --border_light:#FFF;
    --border_dark:#000;
    --shadow_dark:rgba(192,207,217,.5);
    --color_elemet_light:#378AE7;
    --color_elemet_dark:#D6EBF4;
    --color_font_light:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height:100vh;
    background-size: cover;
    background-image: url(../img/fondo.jpg);
    display: grid;
    place-items: center;
}

.object-fit{object-fit: cover;}

.container{
    width: 700px;
    height: 400px;
    display: flex;
    border: 1px solid var(--border_light);
    background-color: var(--fondo);
    border-radius: 12px;
    box-shadow: 0 0px 10px 5px var(--shadow_dark);
}

img{
    flex:0 2 auto;
    height:100%;
}

.datos{
    padding:5% 2% 2%;
    flex:1 2 auto;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login{
    width:90%;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-login p{
    font-size: 16px;
    font-weight: bold;
}

input{
    padding: 0 2%;
    width:100%;
    height:40px;
    border: none;
    border-bottom:2px solid var(--border_dark);
    background-color: var(--fondo);
}

.botones{
    flex: 2 2 auto;
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: visible;
}

.btn{
    width:120px;
    height:40px;
    text-align: center;
    font-size: .9rem;
    border:none;
    border-radius: 8px;
    color: var(--color_elemet_light);
    background-color: var(--color_elemet_dark);
    transition: 0.25s;
}

.btn:hover{
    border:1px solid var(--border_light);
    background-color:var(--color_elemet_light);
    box-shadow: 0 0px 10px 5px var(--shadow_dark);
    color:var(--color_font_light);
    font-weight: bold;
    transform: scale(1.1);
}

@media (max-width: 640px){

    .container{
        width:90%;
        height: 350px;
    }
    .container img{display: none;}
}

