:root{
    --color-primary: #0099ff;
    --color-secundario: rgb(0, 57, 188); 
    --fondo: rgb(255,255,255,0.9);
    --color-sobra: rgba(0, 57, 188); 
}
body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height:100vh;
    display:grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fondo-2.jpg);
    background-position: 50% 50%;
}


.contenedor{
    margin: 10;
    width: 85%;
    height: 80%;
    border:none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 2px 1.5px var(--color-primary);
    overflow: auto;
}

.t{
    margin:0;
    width: 100%;
    border:none;
    border-radius: 12px;
    border: #0039BC;
    background: var(--fondo);
    overflow: hidden;
}


.btn{
    margin:0;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    width: 50%;
    border:none;
}

.can{
    margin:0;
    width: 1%;
}

.buton{
    margin:0;
    margin-top: 30%;
    width: 130%;
    height: 100%;
    display: flex;
    justify-content: center;
    border:none;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1.5px  var(--color-primary);
}

.buton img{
    margin:0;
    width:3vh;
    border:none;
}

.buton:hover{
    box-shadow:  0px 0px 2px 1.5px  var(--color-secundario);
}

.fecha{
    width: 20%;
}

.tipo,.hora{
    width: 10%;
    border:none;
}
.n{
    padding: 1vh;
    width: 1%;
    border:none;
}


.c{
    padding: 1vh;
    margin:0;
    border:none;
    position: sticky;
    top:0%;
    border-bottom: 1px solid black;
    text-align: center;
    color: aliceblue;
    background-color: #0039BC;
}

td{
    margin:0;
    padding: 0.5vh;
    border:1px solid var(--color-primary);
}